<div class="body">
  <div class="container">
    <h2>User info</h2>
    <%= form_for(@user) do |f| %>
      <div class="field">
        <label>Name</label>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <label>Image</label>
        <%= f.attachment_field :profile_image, format:'jpeg', fallback:"no_image.jpg", size:"60x60", class:"user_image" %>
      </div>
      <div class="field">
        <label>Introductio</label>
        <%= f.text_area :introduction %>
      </div>
      <div class="actions">
        <%= f.submit"Update User" %>
      </div>
    <% end %>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
	<p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
